<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="NModbus" version="3.0.62" targetFramework="net461" />
  <package id="RefactoringEssentials" version="5.6.0" targetFramework="net461" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net461" />
  <package id="System.Composition" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net461" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net461" />
  <package id="System.IO.Pipelines" version="5.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>